

.form-control:focus {
    border-color: #b22222;
    box-shadow: 0 0 0 0.2rem rgba(178, 34, 34, 0.25);
    
  }
  
  .invalid-feedback {
    display: block;
  }
  
  .cart-totals {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .total-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .total-item.total {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #b22222;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #8b0000;
  }

  .form-check{
    color: rgb(249, 246, 246);
    background-color: #0b0b0b57;
  }

  .ship-ment{
    color: #f8f9fa;
    background-color: #0b0b0b57;
    padding-top: 70px;
  }

  .col-md-8{
    padding-top: 70px;
  }
  .col-md-8 h2{
    color: #faf8f8;
    background-color: rgba(0, 0, 0, 0.451);
    padding: 20px;
  }